---
import styles from "../styles/section4.module.css";
---

<section class={styles.scrollContainer}>
  <div class={styles.scrollWrapper}>
    <!-- Scrollable Element 1 -->
    <div class={styles.scrollItem}>
      <span style="width: 450px; height: 140px;" class={styles.outline2}></span>
      <span style="width: 280px; height: 140px;" class={styles.line2}></span>
      <img
      src="https://res.cloudinary.com/duewivpjt/image/upload/v1737643853/image_2_e9ty2f.png"
      alt="img3"
      class={styles.img3}
      
      style="width: 450px; height: 400px;"
    />
      
      <div class={styles.outlineContainer}>
       
        <div
          class={styles.mainImageContainer2}
          style="width: 971px; height: 620px;"
        >
          <img
            src="https://res.cloudinary.com/duewivpjt/image/upload/v1737644779/FFF8DA_2_iyygqo.png"
            alt="img1"
            class={styles.img1}
            style="width: 501px; height: 250px;"
          />
          <img
            src="https://res.cloudinary.com/duewivpjt/image/upload/v1737643854/Rectangle_24_baqdh6.png"
            alt="img2"
            class={styles.img2}
            style="width: 501px; height: 350px;"
          />
        </div>
      </div>
      <div class={styles.textContainer}>
        <h2>As Powerful</h2>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s.
        </p>
        <p class={styles.releaseInfo}>
          Released by lorem ipsum on <span>12/12/25</span>
        </p>
      </div>
    </div>

    <!-- Scrollable Element 2 -->
    <div class={styles.scrollItem}>
      <span style="width: 450px; height: 90px;" class={styles.outline22}
      <span style="width: 450px; height: 140px;" class={styles.line22}></span>
      ></span>
      <img
        src="https://res.cloudinary.com/duewivpjt/image/upload/v1737643853/image_2_e9ty2f.png"
        alt="img23"
        class={styles.img23}
        style="width: 450px; height: 400px;"
      />
      <img
        src="https://res.cloudinary.com/duewivpjt/image/upload/v1737666362/Group_15_2_dddb6s.png"
        alt="img21"
        class={styles.img21}
        style="width: 501px; height: 275px;"
      />
      <div class={styles.outlineContainer}>
        <div
          class={styles.mainImageContainer2}
          style="width: 971px; height: 620px;"
        >
          <img
            src="https://res.cloudinary.com/duewivpjt/image/upload/v1737666362/image_3_zdcu8n.png"
            alt="img22"
            class={styles.img22}
            style="width: 501px; height: 360px;"
          />
        </div>

        <div class={styles.textContainer2}>
          <h2>As Powerful</h2>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s.
          </p>
          <p class={styles.releaseInfo2}>
            Released by lorem ipsum on <span>12/12/25</span>
          </p>
        </div>
      </div>
    </div>
    <!-- Scrollable Element 3 -->
    <div class={styles.scrollItem}>
      <span style="width: 320px; height: 140px;" class={styles.outline23}></span>
      <span style="width: 320px; height: 140px;" class={styles.line23}></span>
      <img
            src="https://res.cloudinary.com/duewivpjt/image/upload/v1737667157/image_5_uwoqho.png"
            alt="img1"
            class={styles.img31}
            style="width: 501px; height: 250px;"
          />
     <img
          src="https://res.cloudinary.com/duewivpjt/image/upload/v1737667156/image_7_ajjsd9.png"
          alt="img2"
          class={styles.img32}
          style="width: 501px; height: 390px;"
        />

      <div class={styles.outlineContainer}>
        <img
          src="https://res.cloudinary.com/duewivpjt/image/upload/v1737667157/image_6_xfuask.png"
          alt="img3"
          class={styles.img33}
          style="width: 430px; height: 300px;"
        />

      </div>
      <div class={styles.textContainer}>
        <h2>As Powerful</h2>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s.
        </p>
        <p class={styles.releaseInfo}>
          Released by lorem ipsum on <span>12/12/25</span>
        </p>
      </div>
    </div>
  </div>
</section>
